
body {
    background-color: #eefcfd;
}
.container {
    display:flex;
    flex-direction:column;
    box-shadow:3px 3px #0a5d61;
    
    width:350px;
    
    
    
    margin:auto;
    background-color:rgb(199, 192, 192);
    background-color: #11898f;
    
    padding:1%;
}

.display {
    margin: 0 auto;
    width:100%;
   
    min-height:60px;
    background-color:#839c9e;
    margin-bottom:5px;
    box-sizing:border-box;
}

.display-out {
    
    color:#eefcfd;
    font-weight:600;

    text-align:right;
    padding-left:5px;
    padding-right:5px;
    font-family:arial;
    font-size:35px;
    margin-right:10px;
    margin-bottom:0;
    margin-top:15px;
    word-wrap:break-word;
    
}

.input-grid {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap:1px;

    
    margin:auto;
    width:100%;
    height:100%;
    
    background-color: #11898f;
}

.input-btn {
    font-size:20px;
    font-family:arial;
    border-radius:0;
    height:75px;
    background-color:#eefcfd;
    border:none;
}

.operator-btn, #dec-btn, #neg-btn {
    background-color: #13e6b8;
}
#equal-btn {
    grid-column: 4/6;
    background-color: #ff843c;
    border:none;
}


#del-btn, #clear-btn {
  background-color:#13e6b8;
}

.input-btn:hover, #del-btn:hover, #clear-btn:hover{
    background-color: #839c9e;
    color: #eefcfd;
    font-weight:600;
}

#equal-btn:hover {
    background-color: #e0631a;
    color: #eefcfd;
}





